pytorch-lightning==1.9.5
hydra-core==1.3.2 
omegaconf==2.3.0 
tensorboard==2.11.2
torch==2.3.1+cu118 
torchvision==0.18.1+cu118
pqdm   
neuralforecast 
datasetsforecast==0.0.7
jupyter
statsforecast==1.4.0
pyarrow
onedrivedownloader
